<p id="notice"><%= notice %></p>

<p>
  <strong>Item number:</strong>
  <%= @item.item_number %>
</p>

<p>
  <strong>Item title:</strong>
  <%= @item.item_title %>
</p>

<p>
  <strong>Item picture:</strong>
  <%= @item.item_picture %>
</p>

<p>
  <strong>China item picture:</strong>
  <%= @item.china_item_picture %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @item.part_number %>
</p>

<p>
  <strong>Jan code:</strong>
  <%= @item.jan_code %>
</p>

<p>
  <strong>Simulate price:</strong>
  <%= @item.simulate_price %>
</p>

<p>
  <strong>Yahoo:</strong>
  <%= @item.yahoo %>
</p>

<p>
  <strong>Amazon:</strong>
  <%= @item.amazon %>
</p>

<p>
  <strong>Mercari:</strong>
  <%= @item.mercari %>
</p>

<p>
  <strong>Rakuma:</strong>
  <%= @item.rakuma %>
</p>

<p>
  <strong>Rakuten:</strong>
  <%= @item.rakuten %>
</p>

<p>
  <strong>Yahooshopping:</strong>
  <%= @item.yahooshopping %>
</p>

<p>
  <strong>Buy china item title:</strong>
  <%= @item.buy_china_item_title %>
</p>

<p>
  <strong>Buy china item url:</strong>
  <%= @item.buy_china_item_url %>
</p>

<p>
  <strong>Sell japan url:</strong>
  <%= @item.sell_japan_url %>
</p>

<p>
  <strong>Researcher:</strong>
  <%= @item.researcher_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @item.team %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
